.post {
	margin-bottom: 15px;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	height: 38px;
	margin-bottom: 10px;
	padding: 12px 0 0 0px;
	letter-spacing: -.5px;
	color: #82050B;
}

.post .title a {
	color: #82050B;
	border: none;
}

.post .meta {
	margin-bottom: 30px;
	padding: 5px 0px 15px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.post .meta .date {
	float: left;
	margin-top:15px;
}

.post .meta .posted {
	float: right;
	margin-top:15px;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

#newsadd
{
	width:100%;
}
#newsadd textarea
{
	height:400px;
	width:560px;
	float:right;
}
#newsadd input[type="text"]
{
	width:455px;
}
#newsadd input[type="submit"]
{
	float:right;
}
#newsadd form label{  
    display:block;  
    float:left;  
    width:100px;  
    text-align:left; 
    margin-right:2px;
    margin-bottom:1px;
}
#viewnewslist table
{
	width:100%;
	border:1px solid #E2E2E2;
	background: #E2E2E2;
}
#viewnewslist td
{
	border:1px solid #E2E2E2;
	background-color:white;
	height:25px;
}
#viewnewslist th
{
	background-color:#E2E2E2;
	border:1px solid #E2E2E2;
	height:25px;
}
